# dataset
.dataset
.dataset/
dataset
dataset/

# venv
venv
venv/

# python
__pycache__
__pycache__/

# model
model
model/

# result

result
result/

# development
temp
temp/

# logging
runs
runs/

# notebook
.ipynb_checkpoints/
.ipynb_checkpoints
